@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    /*font-family: Gotham Rounded, sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Lexend Deca', sans-serif;
    font-weight: normal;
}

.boby {
    margin: 0;
    padding-bottom: 30px;
    background: linear-gradient(to right, #00AAFF, #00FF6C)
}

.boby-1 {
    margin:0;
    padding-bottom: 30px;
    background: linear-gradient(to right, yellow, red/*darkred*/)
}
.boby-2 {
    margin: 0;
    padding-bottom: 30px;
    background: linear-gradient(to right, lightblue, darkblue)
}
.boby-3 {
    margin:0;
    padding-bottom: 30px;
    background: linear-gradient(to right, black, purple)
}
.boby-4 {
    margin: 0;
    padding-bottom: 30px;
    background: linear-gradient(to right, white, hotpink)
}

.color-div {
    text-align: center;
    padding-top: 50px;
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid-2 {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255, .75);
}
.calculator-grid > select {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255, .75);
}

.calculator-grid > button:hover {
    background-color: rgba(255,255,255, .90);
}

.span-two {
    grid-column: span 2;
}

.span-four {
    grid-column: span 4;
}

.resulting {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255, .75);
    height: 100px;
    width: 400px;
    margin: 0 auto;
    grid-column: 1 / -1;
    /*display: flex;*/
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    min-height: 100px;
    max-height: 100px;
}

.bum {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255, .75);
    width: 100%;
    height: 100%;
}

select {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255, .75);
}
select:hover {
    background-color: rgba(255,255,255, .90);
}

.output {
    grid-column: 1 / -1;
    background: rgba(0,0,0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output-2 {
    grid-column: 1 / -1;
    background: rgba(0,0,0, .75);
    /*display: flex;*/
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    width: 400px;
    text-align: center;
    min-height: 120px;
    max-height: 120px;
    margin: 0 auto;
}

.output .previous-operand {
    color: rgba(255,255,255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

/*.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.logo {
  cursor: pointer;
  order: 3;
  margin-left: auto;
}

nav {
  order: 1;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  font-size: 16px;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li:nth-child(1) {
  padding: 0 20px 0 0;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  order: 2;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

.button-blueg {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255, .75);
}
.button-blueg:hover {
    background-color: rgba(255,255,255, .90);
}

.button-yellowr {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: yellow;
}
.button-yellowr:hover {
    background-color: rgba(255,255,255, .90);
}
.button-blueld {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: lightblue;
}
.button-blueld:hover {
    background-color: rgba(255,255,255, .90);
}
.button-blackp {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    color: white;
    background-color: #555555;
}
.button-blackp:hover {
    background-color: rgba(255,255,255, .90);
}
.button-whitep {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid black;
    outline: none;
    background-color: white;
}
.button-whitep:hover {
    background-color: black;
}

